certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
opensky-api @ git+https://github.com/openskynetwork/opensky-api.git@c6f34a5a9e6dc37ce58852ffa9110f79c2980a80#subdirectory=python
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.3.0
